<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <main class="main_session">
        <div class="login_box">
            <h1 class="title_login">Login</h1>
            <form action="/api/sessions/login" method="POST" class="form_session">
                <div class="section_box">
                    <input type="email" id="email" name="email" placeholder="Email">
                </div>

                <div class="section_box">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit">Sing in</button>
                <p class="message" id="message"></p>
                <p class="text_box_account">Don't have an account? <a href="/register" class="register_string">Sing
                        Up</a></p>
            </form>

        </div>
    </main>

    <script src="/js/login.js"></script>
</body>

</html>