<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="main_session">
        <p class="text_registered">Usuario creado correctamente, ahora puede loguearse</p>
        <a href="/" class="register_string">Login</a>
    </main>
</body>

</html>